@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');

/* =========================
   FONTS
========================= */

@font-face {
  font-family: Pavelt;
  src: url("/Fonts/pavelt-vg24b.otf");
}

@font-face {
  font-family: Montserrat;
  src: url("/Fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: HelveticaBold;
  src: url("/Fonts/HelveticaNowText-Bold.ttf");
}

@font-face {
  font-family: DancingScriptBold;
  src: url("/Fonts/DancingScript-Bold.ttf");
}

@font-face {
  font-family: DancingScriptMedium;
  src: url("/Fonts/DancingScript-Medium.ttf");
}

@font-face {
  font-family: FuturaNowHeadlineExtraBold;
  src: url("/Fonts/FuturaNowHeadlineExtraBold.ttf");
}

/* ==========================================================
   font that are not in nextfonts
========================================================== */

.geist {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}